<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Escriba la pregunta" />
<br />
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Escriba la respuesta" />
<br />
<label for="tema" class="rem">Tema:</label>

<select name="quiz[tema]" id="tema">
  <option value=" " <%= !quiz.tema || quiz.tema===''?'selected':'' %>>Seleccione</option>
  <% for(var i=0; i<temas.length; i++) { %>
    <option value="<%= temas[i].codigo %>" <%= quiz.tema===temas[i].codigo?'selected':'' %>><%=temas[i].nombre %></option>
  <% } %>
</select>
<br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar" />
