<p>
  <ul>
    <li>Cantidad de preguntas: <%= cantidadPreguntas %></li>
    <li>Cantidad de comentarios: <%= cantidadComentarios %></li>
    <li>Promedio de comentarios por pregunta: <%= promedioComentariosPregunta.toFixed(2) %></li>
    <li>Cantidad de preguntas sin comentarios: <%= cantidadPreguntasSinComentarios %></li>
    <li>Cantidad de preguntas con comentarios: <%= cantidadPreguntasConComentarios %></li>
  </ul>
</p>
